* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.card-container{
    color: #666666;
    font-weight: 100;
    font-family: Helvetica, Sans-Serif;
    font-size: 25px;

    display: inline-block;
    position: relative;

    width: 100%;
    min-width: 300px;
    max-width: 450px;
    min-height: 300px;
    max-height: 450px;

    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform: scale(.9); // **deleted transform z to 0;
    transform: scale(.9);

    :hover{
        cursor: pointer;
    }

    .back, .front {
        border: 1px solid #dddddd;

        //position the cards within the card container
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;


        box-shadow: 0 10px 20px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.20);
        -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.20);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -webkit-transition: z-index .5s, -webkit-transform .5s; //allows transformation to happen in .5 sec
        transition: z-index .5s, transform .5s; //fixed transform should not be webkit and no left transition needed

        img{
            -webkit-transform: scale(.9);
            transform: scale(.9);
            width: 100%;
            padding: 10px 0px 10px 0px;
        }

        .front-content, .back-content{
            text-align: left;
        }

        .front-content.center, .back-content.center{
            height: 100%; //Need this for flex alignment
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            text-align: center;
        }
        .front-content{
            padding: 15px;
        }

        .back-content{
            font-size: 16px;
            margin: 15px;
            overflow: auto;
            line-height: 1.5;
            padding-bottom: 50px;
            height: calc(100% - 30px);

            .back-text{
                padding: 0px 15px; ;
            }
        }
    }

    .front {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        border-top: 3px solid #2F4F4F;
        background-color: white;
    }

    .back {
        background-color: #f9f9f9;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);

        .faded-content{
            height:70px;
            width:100%;
            position:absolute;
            z-index: 10;
            bottom:0;
            left: 0px;
            background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
        }
    }
}

//cards will be smaller on width > 450px
@media (min-width: 450px){
    .card-container {
        max-width: 300px;
        max-height: 300px;
    }
}

.card-container.flipped{
    //flipped cards are at full scale
    -webkit-transform: scale(1);
    transform: scale(1);

    //shrink image on hover
    img:hover{
        -webkit-transform: scale(1);
        transform: scale(1) ;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
     }

     img:hover + .back-text{
        transition: all 0.3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        padding: 0;
     }


    .front {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

    .back {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}